h2,
h3,
h4,
h5 {
  font-family: "Lato", sans-serif;
}
h2 {
  margin: 0px 0px 20px 0px;
  padding: 20px 10px;
  background-color: #d3f2a9;
  border-radius: 3px;
  border: 1px solid #d3f2a9;
}
h3 {
  text-transform: capitalize;
}
h5 {
  font-size: 1.15rem;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
small {
  font-size: 10px;
}
.weather-app {
  max-width: 600px;
  margin: 30px auto;
}
.form {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.375rem 0.28rem;
  border-radius: 0.25rem;
  border: 1px solid;
  vertical-align: middle;
}
.current-date {
  padding: 50px 12px 0 12px;
}
.current-weather {
  width: 100%;
}
.card-text {
  text-align: center;
  font-size: 8px;
  position: relative;
  top: 46px;
}
.current {
  font-size: 20px;
  position: relative;
  top: 100px;
  left: 28px;
}
.btn-success {
  padding: 0.375rem 0.45em;
}
.temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.temperature .active:hover {
  text-decoration: none;
}
